<div class="container">
    <div class="form-wrapper">
        <div class="form-input">
            <SfTextBox @bind-Value="@Name"></SfTextBox>
        </div>
        <SfButton CssClass="e-primary" @onclick="AddItem">添加</SfButton>
    </div>

    <SfListView DataSource="@Data">
        <ListViewFieldSettings TValue="TodoItem" Id="Name" Text="Name" GroupBy="Done"></ListViewFieldSettings>

        <ListViewTemplates TValue="TodoItem">
            <Template>
                <SfCheckBox @bind-Checked="context.Done"></SfCheckBox>
                <p class="content">@(context.Name)</p>
                <SfButton CssClass="closebtn" @onclick="@(async () => { await DeleteItem(context); })">x</SfButton>
            </Template>
            <GroupTemplate>
                @if (context.Text == "False")
                {
                    <div class="undone-items">未完成</div>
                }
                else
                {
                    <div class="done-items">已完成</div>
                }
            </GroupTemplate>
        </ListViewTemplates>
    </SfListView>
</div>